<div class="content">
  <div class="janela">
    <div class="janela-titulo">
      <span class="janela-titulo__descricao">
        PRODUTOS
      </span>
      <span class="janela-titulo__icons--search">
        <i class="material-icons icon">search</i>
      </span>
      <div class="janela-icons">
        <span class="janela-titulo__icons">
          <i class="material-icons icon">list</i>&nbsp;
          <i class="material-icons icon-mirror icon">aspect_ratio</i>&nbsp;
          <i class="material-icons icon">expand_more</i>
        </span>
      </div>
    </div>
    <div class="janela-blocoInterno">
      <div class="botoes">
        <app-botaoFiltro></app-botaoFiltro>
      </div>
      <div class="tela">
        <div class="tela-produto">
          <span class="tela-produto__titulo"> PRODUTOS </span>
          <div class="tela-produto-blocoInterno">
            <div id="scrollbar-produtos">
              <app-produtoCard></app-produtoCard>
            </div>
          </div>
        </div>
        <div class="tela-mercado">
          <span class="tela-mercado__titulo"> MERCADO </span>
          <div class="tela-mercado-blocoInterno">
            <div id="scrollbar-produtos--mercados">
              <app-mercadoLine></app-mercadoLine>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>