<div class="card" *ngFor = "let produto of produtos" [id]="produto.id" (click)="onClickProduto(produto.id)">
    <span class="card__borda"></span>
    <div class="card-conteudo">
        <div class="card-conteudo-row">
            <span class="card-conteudo__nome">{{ produto.product_type }} <span class="is_perishable">{{ produto.is_perishable }}</span> {{ produto.product_name }} </span>
            <span class="card-conteudo__info"> <i class="material-icons">info_outline</i> </span>
        </div>
        <div class="card-conteudo-row">
            <span class="card-conteudo__dataEnvio">ENVIADO EM {{ produto.shipping_date }} </span>
        </div>
        <div class="card-conteudo-row">
            <span class="card-conteudo__estoque {{ produto.status }}">{{ produto.status }}</span>
        </div>
    </div>
</div>