<div class="content">
  <div class="janela">
    <div class="janela-titulo">
      <span class="janela-titulo__descricao">
        PRODUTOS
      </span>
      <span class="janela-titulo__icons--search">
        <i class="material-icons icon">search</i>
      </span>
      <div class="janela-icons">
        <span class="janela-titulo__icons">
          <i class="material-icons icon">list</i>&nbsp;
          <i class="material-icons icon-mirror icon">aspect_ratio</i>&nbsp;
          <i class="material-icons icon">expand_more</i>
        </span>
      </div>
    </div>
    <div class="blocoInterno">
      <div class="botoes">
        <button class="botoes__frutas      botao">FRUTAS</button>
        <button class="botoes__massas      botao">MASSAS</button>
        <button class="botoes__carnes      botao">CARNES</button>
        <button class="botoes__laticinios  botao">LATICÍNIOS</button>
        <button class="botoes__bebidas     botao">BEBIDAS</button>
        <button class="botoes__cereais     botao">CEREAIS</button>
        <button class="botoes__leguminosas botao">LEGUMINOSAS</button>
      </div>
      <br>
      <span> Welcome to {{ title }}!  </span>
    </div>
  </div>
</div>

