/* VARIAVEIS, IMPORTS E MIXINS */

/* imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

/* fonte */
$fonte-family: 'Roboto', sans-serif;
$fonte-medium: 500;
$fonte-bold: 700;

/* cores */
$cor-principal: #611829;
$cor-textoFundoEscuro: #FAFAFA;
$cor-fundosBlocosInternos: #FFFFFF;
$cor-internaJanela: #FCFCFC;
$cor-bordaFundoJanela: #E8E8E8;
$cor-barraRolagem: #939393;

$cor-frutas: #419D47;
$cor-massas: #D14952;
$cor-carnes: #E2B762;
$cor-laticinios: #597FBF;
$cor-bebidas: #737373;
$cor-cereais: #333333;
$cor-leguminosas: #924551;

$cor-abaMercado: #EEEEEE;
$cor-textoMercado: #350000;

$cor-textoProduto: #555555;
$cor-tituloProduto: #000000;
$cor-estoque: #00A50B;
$cor-emFalta: #DA0000;
$cor-info: #737373;
$cor-bordaInfo: #707070;

/* ESTILIZACAO */

.content{
  width: 100%;
  margin-top: 50px;
  /* Alinhamento dos filhos em relação ao pai */
  display: flex;
  justify-content: center;
}

.janela{
  height: 573.06px;
  width: 930px;
  border-radius: 12px;
  background-color: $cor-principal;
  display: block;
}

.janela-titulo{
  height: 36px;
  padding: 0 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.janela-titulo__descricao{
  position: relative;
  font-family: $fonte-family;
  color: $cor-textoFundoEscuro;
  font-weight: $fonte-bold;
  font-size: 14px;
  display: inline-block;
  transform: translateY(10px);
  letter-spacing: 0.06rem;
}

.janela-titulo__icons{
  position: relative;
  color: $cor-textoFundoEscuro;
}

.icon{
  font-size: 20px;
  display: inline-block;
  line-height: 1.8;
}

.icon-mirror{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.janela-titulo__icons--search{
  position: relative;
  color: $cor-textoFundoEscuro;
  transform: translateX(-355px);
}

.janela-blocoInterno{
  width: 909px;
  height: 531px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: $cor-internaJanela;
}

.botoes{
  width: 100%;
  padding-top: 11px;
  display: flex;
  justify-content: center;
}

.botao{
  width: 100px;
  height: 25px;
  border-radius: 24px;
  font-family: $fonte-family;
  font-weight: $fonte-medium;
  font-size: 11px;
  margin: 0 5px;
  border: solid 2px;
  cursor: pointer;
  transition: background 0.8s;
}

.botao:hover{
  color: $cor-textoFundoEscuro;
}

.botoes__frutas{
  border-color: $cor-frutas;
  background-color: $cor-internaJanela;
  color: $cor-frutas;
}

.botoes__frutas:hover{
  border-color: $cor-frutas;
  background-color: $cor-frutas;
}

.botoes__massas{
  border-color: $cor-massas;
  color: $cor-massas;
  background-color: $cor-internaJanela;
}

.botoes__massas:hover{
  background-color: $cor-massas;
}

.botoes__carnes{
  border-color: $cor-carnes;
  color: $cor-carnes;
  background-color: $cor-internaJanela;
}

.botoes__carnes:hover{
  background-color: $cor-carnes;
}

.botoes__laticinios{
  border-color: $cor-laticinios;
  color: $cor-laticinios;
  background-color: $cor-internaJanela;
}

.botoes__laticinios:hover{
  background-color: $cor-laticinios;
}

.botoes__bebidas{
  border-color: $cor-bebidas;
  color: $cor-bebidas;
  background-color: $cor-internaJanela;
}

.botoes__bebidas:hover{
  background-color: $cor-bebidas;
}

.botoes__cereais{
  border-color: $cor-cereais;
  color: $cor-cereais;
  background-color: $cor-internaJanela;
}

.botoes__cereais:hover{
  background-color: $cor-cereais;
}

.botoes__leguminosas{
  border-color: $cor-leguminosas;
  color: $cor-leguminosas;
  background-color: $cor-internaJanela;
}

.botoes__leguminosas:hover{
  background-color: $cor-leguminosas;
}

.tela{
  margin-top: 12px;
  display: flex;
}

.tela-produto{
  height: 480px;
  width: 450px;
  border-radius: 12px;
  margin-left: 5px;
  background-color: $cor-frutas;
  display: block;
}

.tela-produto__titulo{
  height: 36px;
  padding: 0 20px;
  position: relative;

  display: flex;
  justify-content: center;

  transform: translateY(10px);

  font-family: $fonte-family;
  font-weight: $fonte-bold;
  letter-spacing: 0.06rem;
  font-size: 14px;
  color: $cor-textoFundoEscuro;
}

.tela-produto-blocoInterno{
  width: 440px;
  height: 415px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  background-color: $cor-internaJanela;

}

#scrollbar-produtos{
  height: 415px;
  margin-right: 7px;
  border-radius: 12px;
  overflow-y: auto;
  /*overflow: -moz-hidden-unscrollable;*/
  scrollbar-width: thin;
}

#scrollbar-produtos::-webkit-scrollbar{
  margin-right: 80px;
  width: 6px;
  background-color: transparent;
}

#scrollbar-produtos::-webkit-scrollbar-thumb{
  border-radius: 12px;
  background-color: $cor-barraRolagem;
}

#scrollbar-produtos--mercados{
  height: 425px;
  margin-right: 4px;
  border-radius: 12px;
  overflow-y: auto;
  /*overflow: -moz-hidden-unscrollable;*/
  scrollbar-width: thin;
}

#scrollbar-produtos--mercados::-webkit-scrollbar{
  margin-right: 80px;
  width: 6px;
  background-color: transparent;
}

#scrollbar-produtos--mercados::-webkit-scrollbar-thumb{
  border-radius: 12px;
  background-color: transparent;
}

.card{
  cursor: pointer;
  width: 190.4px;
  height: 73px;
  display: flex;
  margin-left: 14px;
  margin-bottom: 10px;
  float: left;

  border-radius: 12px;
  border: 1px solid $cor-frutas;
  background-color: $cor-fundosBlocosInternos;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
  transition: background 0.8s;
}

.card:hover {
  background: radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.card:active {
  background-color: $cor-abaMercado;
  background-size: 100%;
  transition: background 0s;
}

.card__borda{
  width: 7px;
  height: 100%;
  background-color: $cor-frutas;
  border-radius: 36px 0px 0px 36px;
}

.card-conteudo{
  padding: 7.5px;
}

.card-conteudo-row{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.card-conteudo__nome{
  font-family: $fonte-family;
  font-weight: $fonte-bold;
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
}

.card-conteudo__info{
  display: inline-block;
  color: $cor-info;
  transform: translateY(-4px);
}

.card-conteudo__dataEnvio{
  display: inline-block;
  transform: translateY(-6px);

  font-family: $fonte-family;
  font-size: 12px;
  letter-spacing: 0.09rem;
  font-weight: $fonte-medium;
  color: $cor-textoProduto;
}

.card-conteudo__estoque{
  transform: translateY(-5px);
  margin: 0 auto;

  font-family: $fonte-family;
  font-size: 12px;
  letter-spacing: 0.07rem;
  font-weight: $fonte-bold;
  text-transform: uppercase;
}

.estoque{
  color: $cor-frutas;
}

.falta{
  color: $cor-emFalta;
}

.tela-mercado{
  margin-left: 3px;
  background-color: $cor-internaJanela;
  display: block;
}

.tela-mercado__titulo{
  height: 0px;
  width: 158px;
  margin: 0 auto;
  position: relative;

  line-height: 2.5;
  display: flex;
  justify-content: center;

  font-family: $fonte-family;
  font-weight: $fonte-bold;
  letter-spacing: 0.06rem;
  font-size: 14px;
  color: $cor-principal;

  border-bottom: 27.76px solid $cor-abaMercado;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.tela-mercado-blocoInterno{
  width: 440px;
  height: 440px;
  margin: 0 auto;
  padding-top: 3px;
  border-radius: 12px;
  border: 4px solid $cor-abaMercado;
  background-color: $cor-fundosBlocosInternos;
}

.mercado-conteudo{
  display: inline-block;
}

.mercado__fundo-icon{
  width: 32px;
  height: 31px;
  display: inline-block;
  background-color: $cor-principal;
  color: $cor-textoFundoEscuro;
  border-radius: 30px;
  margin-left: 15px;
  margin-top: 7.5px;
}

.mercado__person-icon{
  margin-left: 4px;
  transform: translateY(3px);
}

.mercado-informacoes{
  margin-left: 15px;
  float: right;
}

.mercado-informacoes__texto{
  margin-top: 9px;
  width: 360px;
  display: flex;
  justify-content: space-between;

  font-size: 10px;
  font-family: $fonte-family;
  font-weight: $fonte-medium;
  text-transform: uppercase;
}

.mercado-informacoes__barra{
  display: block;
  margin-top: 7px;
  background-color: $cor-frutas;
  height: 9px;
  border-radius: 12px;
  -webkit-animation: expandir;
  -webkit-animation-fill-mode: forwards;
  animation: expandir 1s;
  animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: 1s
}

@keyframes expandir {
    from { left: 0 }
    //to { width: 100px }
}

.mercado__line{
  display: block;
  height: 1px;
  margin-top: 9px;
  background-color: $cor-abaMercado;
  border-color: $cor-abaMercado;
  width: 100%;
}